<html>
    <head>
        <title>
            <%= title %>
        </title>
        <script src="https://kit.fontawesome.com/632db99bbc.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">

        <%- style %>

    </head>

    <%- include('_header'); %>

    <main id="layout-main">
        <%- body %>
    </main>

    <%- include('_footer'); %>

    <%- script %>

</html>

