<h1>
    Codeial | <%= profile_user.name %>
</h1>
<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%=user.avatar %>" alt="<%=user.name%>" width="100">


<!-- we have stored info of users in res.local so we can access them now -->    
<% if(user.id == profile_user.id) { %> 
    <!-- if user matches show the form -->

    <form action="/users/update/<%=profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name"  placeholder="Your name" value="<%= profile_user.name %>" required>
        <input type="email" name="email"  placeholder="Your email" value="<%= profile_user.email %>" required >

        <input type="file" name="avatar" placeholder="profile picture">
        <input type="submit" value="update">
    </form>

    <div>
        Friend Requests : 

        <ul>
            <% for(request of requests) { %> 
                
                <li>
                    <%=request.from_user.name%> sent you friend request
                    <a href="/friends/accept-request/<%=request._id%>">ok</a>
                    <a href="/friends/decline-request/<%=request._id%>">X</a>
                </li>
                
            <% } %>
        </ul>

</div>

<% } else { %> 

    <!-- else show profile info -->
    <p> <%= profile_user.name %> </p>
    <p> <%= profile_user.email %> </p>

    <% if (locals.user){ %>
        <a class="friend-button" href="/friends/togglefriend/?sender=<%=user._id%>&receiver=<%=profile_user._id%>">
               Add Friend
        </a>


    <% } %>

<% } %>

<!-- CHANGE :: import the script file for toggle friends, also run it over for the already users on the page -->
<script src="/js/friend_button.js"></script>
<script>
    $('.friend-button').each(function(){
        let self = this;
        let toggleFriend = new ToggleFriend(self);
    });
</script>

